input {
	box-sizing: border-box;
	width: 15ex;
	width: 15ch;
	font-size: xx-large;
	display: block;
}

#content {
	margin-right: 8em;
}

#menu {
	float: right;
	position: relative;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

.unknown_hider_related {
	display: none;
}

.wymowa li {
	display: inline-block;
}

.inline {
	display: inline;
}
.inline [type="submit"] {
	background: none;
	width: inherit;
	padding: 0;
	border: none;
	color: blue;
	cursor: pointer;
}

footer {
	margin-top: 2em;
	font-size: 0.8em;
}

/*
.unknown_hider_related {
	display: inline;
}

#unknown_hider:not(:checked) ~ ul li {
	display: none;
}

#unknown_hider:not(:checked)  ~ ul li.abchaski {
	display: list-item;
}
*/
